body {
  background-color: #222222 ;
}

.headline {
  text-align: center;
  color: #6E6E6E;
  font-family: monospace;
}

.drawable {
  text-align: center;
}

#myCanvas {
  position: absolute;
  background: none;
}

.element-menu {
  display: none;
  position: absolute;
}

.element-menu ul {
  list-style-type: none;
  color: white;
  line-height: 2.5;
  padding.left: 20px;
  background: rgba(34, 34, 34, 0.75);
}

.element-menu .fa {
  width: 25px;
}

.element-menu output {
  width: 55px;
  display: inline-block;
}

.element-menu li {
  text-align: left;
}

.multipleBodiesButton {
    position: absolute;
    left: 2em;
    top: 10em;
    background-color: #5c5;
    width: 5em;
    height: 5em;
    color: #fff;
    text-align: center;
}
