body {
  background-color: #222222;
}

.multi-control,
.level-control,
.play-control,
.xGravity-control,
.yGravity-control {
  position: relative;
  left: 40px;

  width: 120px;
  color: #6E6E6E;
  text-align: center;
}

.multi-control .button,
.level-control .button,
.play-control .button{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 1;
  outline: none;

  margin: auto;
  margin-bottom: 10px;
}

.multi-control {
  bottom: -30px;
}

.multipleBodiesButton {
  border: 2px solid green;
  background: greenyellow;
}
.multipleBodiesButton.is-active {
  border: 2px solid #e2560f;
  background: #ee9d3d;
}

.level-control {
  bottom: -20px;
}
.level-control .button {
  font-size: 30px;
}
.level-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 800px;
  height: 600px;
  z-index: 10;
  background: rgba(128, 128, 128, 0.5);
  border: 2px solid gray;
}
.level-overlay.show {
  display: block;
}
.level-option {
  display: inline-block;
  width: 200px;
  height: 180px;
  border-radius: 6px;
  background: #222222;
  margin-left: 10px;
  margin-top: 10px;
  color: gray;
  overflow: hidden;
}
.level-preview {
  width: 200px;
  height: 150px;
}

.button--level {
  border: 2px solid darkgray;
}
.button--level:hover {
  border: 2px solid black;
}
.button--level:active {
  background: gray;
}

.play-control {
  bottom: -10px;
}
.play-control .button {
  display: none;
  font-size: 24px;
}
.button--play {
  padding-top: 4px;
  padding-left: 11px;

  color: #2b7911;
  border: 2px solid #2b7911;
  background: greenyellow;
}
.button--play:hover {
  color: greenyellow;
  border: 2px solid greenyellow;
  background: #2b7911;
}

.button--pause {
  padding-top: 3px;
  padding-left: 6px;

  color: #3672a0;
  border: 2px solid #3672a0;
  background: #7cffee;
}
.button--pause:hover {
  color: #7cffee;
  border: 2px solid #7cffee;
  background: #3672a0;
}

/* toggle buttons */
.pause .button--play {
  display: block;
}
.play .button--pause {
  display: block;
}

.pause-background {
  display: none;
  color: gray;
  opacity: 0.3;
  font-size: 60px;
  padding-top: 270px;
}
.pause .pause-background {
  display: block;
}

.xGravity-control {
  bottom: 0px;
}
.xGravity-control .fa {
  font-size: 30px;
  margin-top: 20px;
}

.yGravity-control {
  bottom: 10px;
}
.yGravity-control .fa {
  font-size: 30px;
  margin-top: 20px;
}

.slider-text {
  padding-top: 45px;
}

.headline {
  text-align: center;
  color: #6E6E6E;
  font-family: monospace;
}

.drawable {
  text-align: center;
  position: relative;
  width: 800px;
  height: 0px;
  margin: auto;
}
.drawable canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent !important;
  width: 800px;
  height: 600px;
  border: 2px solid #6E6E6E;
}


#myCanvas {
  z-index: 3;
}

#vectorCanvas {
  z-index: 2;
}
#mainAnimation {
  z-index: 1;
}

.element-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.element-menu ul {
  list-style-type: none;
  color: white;
  line-height: 2.5;
  padding-left: 20px;
  background: rgba(34, 34, 34, 0.75);
}

.element-menu .fa {
  width: 25px;
}

.element-menu output {
  width: 55px;
  display: inline-block;
}

.element-menu li {
  text-align: left;
}

.multipleBodiesButton {
    background-color: #5c5;
    width: 200px;
    height: 5em;
    line-height: 5em;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .xGravity-control {
      bottom: -504px;
      left: 280px;
    }
    .yGravity-control {
      bottom: -615px;
      left: 140px;
    }
    .play-control {
      left: 420px;
      bottom: -396px;
    }
    .level-control {
        bottom: -288px;
        left: 560px;
    }
    .multi-control {
      bottom: -180px;
      left: 700px;
    }
}
